<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>request-types</key>
	<dict>
		<key>points</key>
		<dict>
			<key>data-param-value</key>
			<string>gpsPoints</string>
			<key>double-attributes</key>
			<array>
				<string>lat</string>
				<string>lon</string>
			</array>
			<key>date-attributes</key>
			<array>
				<string>date</string>
			</array>
			<key>integer-attributes</key>
			<array>
				<string>speed</string>
			</array>
			<key>group-by</key>
			<array>
				<string>lat</string>
				<string>lon</string>
			</array>
		</dict>
		<key>telemetry</key>
		<dict>
			<key>data-param-value</key>
			<string>telemetry</string>
			<key>integer-attributes</key>
			<array>
				<string>averageCalculateSpeed</string>
				<string>averageGpsSpeed</string>
				<string>engineTime</string>
				<string>maxSpeed</string>
				<string>mileage</string>
				<string>standsCount</string>
				<string>waysCount</string>
			</array>
		</dict>
		<key>events</key>
		<dict>
			<key>data-param-value</key>
			<string>events</string>
			<key>ignore-attributes</key>
			<array>
				<string>gps</string>
				<string>gsm</string>
				<string>balance</string>
				<string>brk</string>
				<string>sms</string>
				<string>temperature</string>
				<string>cameras</string>
			</array>
			<key>integer-attributes</key>
			<array>
				<string>type</string>
			</array>
			<key>date-attributes</key>
			<array>
				<string>datetime</string>
			</array>
			<key>group-by</key>
			<array>
				<string>type</string>
			</array>
			<key>filter</key>
			<dict>
				<key>type</key>
				<integer>33</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
