<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>title</key>
		<string>Alarm (Light Shock)</string>
		<key>icon</key>
		<string>light-shock</string>
	</dict>
	<key>10</key>
	<dict>
		<key>title</key>
		<string>Accessory On</string>
		<key>icon</key>
		<string>access-on</string>
	</dict>
	<key>100</key>
	<dict>
		<key>title</key>
		<string>Reset (Software update)</string>
		<key>icon</key>
		<string>reset</string>
	</dict>
	<key>101</key>
	<dict>
		<key>title</key>
		<string>Cold Start</string>
	</dict>
	<key>102</key>
	<dict>
		<key>title</key>
		<string>Undefined (102)</string>
	</dict>
	<key>103</key>
	<dict>
		<key>title</key>
		<string>Reset (Wake up)</string>
		<key>icon</key>
		<string>reset</string>
	</dict>
	<key>104</key>
	<dict>
		<key>title</key>
		<string>Stels Mode Off</string>
	</dict>
	<key>105</key>
	<dict>
		<key>title</key>
		<string>Reset (Blink30m)</string>
		<key>icon</key>
		<string>reset</string>
	</dict>
	<key>106</key>
	<dict>
		<key>title</key>
		<string>Reset (Cold start)</string>
		<key>icon</key>
		<string>reset</string>
	</dict>
	<key>107</key>
	<dict>
		<key>title</key>
		<string>Reset (NoAT)</string>
		<key>icon</key>
		<string>reset</string>
	</dict>
	<key>108</key>
	<dict>
		<key>title</key>
		<string>Reset (Day)</string>
		<key>icon</key>
		<string>reset</string>
	</dict>
	<key>11</key>
	<dict>
		<key>title</key>
		<string>Input 1 On</string>
		<key>icon</key>
		<string>input-1-on</string>
	</dict>
	<key>110</key>
	<dict>
		<key>title</key>
		<string>Valet Mode Off</string>
		<key>icon</key>
		<string>valetoff</string>
	</dict>
	<key>111</key>
	<dict>
		<key>title</key>
		<string>Card Disappeared (1)</string>
		<key>icon</key>
		<string>lockclose01</string>
	</dict>
	<key>112</key>
	<dict>
		<key>title</key>
		<string>Card Disappeared (2)</string>
		<key>icon</key>
		<string>lockclose02</string>
	</dict>
	<key>113</key>
	<dict>
		<key>title</key>
		<string>Card Disappeared (3)</string>
		<key>icon</key>
		<string>lockclose03</string>
	</dict>
	<key>114</key>
	<dict>
		<key>title</key>
		<string>Card Disappeared (4)</string>
		<key>icon</key>
		<string>lockclose04</string>
	</dict>
	<key>115</key>
	<dict>
		<key>title</key>
		<string>Card Disappeared (5)</string>
		<key>icon</key>
		<string>lockclose05</string>
	</dict>
	<key>12</key>
	<dict>
		<key>title</key>
		<string>Input 2 On</string>
		<key>icon</key>
		<string>input-2-on</string>
	</dict>
	<key>120</key>
	<dict>
		<key>title</key>
		<string>Valet Mode On</string>
		<key>icon</key>
		<string>valeton</string>
	</dict>
	<key>121</key>
	<dict>
		<key>title</key>
		<string>Card Appeared (1)</string>
		<key>icon</key>
		<string>lockcopen01</string>
	</dict>
	<key>122</key>
	<dict>
		<key>title</key>
		<string>Card Appeared (2)</string>
		<key>icon</key>
		<string>lockcopen02</string>
	</dict>
	<key>123</key>
	<dict>
		<key>title</key>
		<string>Card Appeared (3)</string>
		<key>icon</key>
		<string>lockcopen03</string>
	</dict>
	<key>124</key>
	<dict>
		<key>title</key>
		<string>Card Appeared (4)</string>
		<key>icon</key>
		<string>lockcopen04</string>
	</dict>
	<key>125</key>
	<dict>
		<key>title</key>
		<string>Card Appeared (5)</string>
		<key>icon</key>
		<string>lockcopen05</string>
	</dict>
	<key>126</key>
	<dict>
		<key>title</key>
		<string>Undefined (126)</string>
	</dict>
	<key>127</key>
	<dict>
		<key>title</key>
		<string>BRK Data</string>
	</dict>
	<key>13</key>
	<dict>
		<key>title</key>
		<string>Input 3 On</string>
		<key>icon</key>
		<string>input-3-on</string>
	</dict>
	<key>14</key>
	<dict>
		<key>title</key>
		<string>Input 4 On</string>
	</dict>
	<key>15</key>
	<dict>
		<key>title</key>
		<string>Trunk Closed</string>
		<key>icon</key>
		<string>boot-close</string>
	</dict>
	<key>16</key>
	<dict>
		<key>title</key>
		<string>Hood Closed</string>
		<key>icon</key>
		<string>hood-close</string>
	</dict>
	<key>17</key>
	<dict>
		<key>title</key>
		<string>Door Closed</string>
		<key>icon</key>
		<string>door-close</string>
	</dict>
	<key>18</key>
	<dict>
		<key>title</key>
		<string>Ignition Off</string>
		<key>icon</key>
		<string>ignition-off</string>
	</dict>
	<key>19</key>
	<dict>
		<key>title</key>
		<string>Accessory Off</string>
		<key>icon</key>
		<string>access-off</string>
	</dict>
	<key>2</key>
	<dict>
		<key>title</key>
		<string>External Zone (Microwave)</string>
		<key>icon</key>
		<string>ext-zone-microwave</string>
	</dict>
	<key>20</key>
	<dict>
		<key>title</key>
		<string>Input 1 Off</string>
		<key>icon</key>
		<string>input-1-off</string>
	</dict>
	<key>21</key>
	<dict>
		<key>title</key>
		<string>Input 2 Off</string>
		<key>icon</key>
		<string>input-2-off</string>
	</dict>
	<key>22</key>
	<dict>
		<key>title</key>
		<string>Input 3 Off</string>
		<key>icon</key>
		<string>input-3-off</string>
	</dict>
	<key>23</key>
	<dict>
		<key>title</key>
		<string>Input 4 Off</string>
	</dict>
	<key>24</key>
	<dict>
		<key>title</key>
		<string>Guard On</string>
		<key>icon</key>
		<string>arm</string>
	</dict>
	<key>25</key>
	<dict>
		<key>title</key>
		<string>Guard Off</string>
		<key>icon</key>
		<string>disarm</string>
	</dict>
	<key>26</key>
	<dict>
		<key>title</key>
		<string>Reset (Main)</string>
		<key>icon</key>
		<string>reset</string>
	</dict>
	<key>27</key>
	<dict>
		<key>title</key>
		<string>Main Power On</string>
		<key>icon</key>
		<string>main-power-on</string>
	</dict>
	<key>28</key>
	<dict>
		<key>title</key>
		<string>Main Power Off</string>
	</dict>
	<key>29</key>
	<dict>
		<key>title</key>
		<string>Reserve Power On</string>
		<key>icon</key>
		<string>reserve-power-on</string>
	</dict>
	<key>293</key>
	<dict>
		<key>title</key>
		<string>SOS!</string>
		<key>icon</key>
		<string>sos</string>
	</dict>
	<key>3</key>
	<dict>
		<key>title</key>
		<string>Alarm (Heavy Shock)</string>
		<key>icon</key>
		<string>heavy-shock</string>
	</dict>
	<key>30</key>
	<dict>
		<key>title</key>
		<string>Reserve Power Off</string>
		<key>icon</key>
		<string>reserve-power-off</string>
	</dict>
	<key>31</key>
	<dict>
		<key>title</key>
		<string>GSM Online</string>
		<key>icon</key>
		<string>gsm-recover</string>
	</dict>
	<key>32</key>
	<dict>
		<key>title</key>
		<string>GSM Offline</string>
		<key>icon</key>
		<string>gsm-fail</string>
	</dict>
	<key>33</key>
	<dict>
		<key>title</key>
		<string>GSM Movement</string>
		<key>icon</key>
		<string>gsm-sector-change</string>
	</dict>
	<key>34</key>
	<dict>
		<key>title</key>
		<string>GPS Online</string>
		<key>icon</key>
		<string>gps-recover</string>
	</dict>
	<key>35</key>
	<dict>
		<key>title</key>
		<string>GPS Offline</string>
		<key>icon</key>
		<string>gps-fail</string>
	</dict>
	<key>36</key>
	<dict>
		<key>title</key>
		<string>GPS Movement</string>
	</dict>
	<key>37</key>
	<dict>
		<key>title</key>
		<string>Route Begin</string>
		<key>icon</key>
		<string>trace-start</string>
	</dict>
	<key>38</key>
	<dict>
		<key>title</key>
		<string>Route End</string>
		<key>icon</key>
		<string>trace-stop</string>
	</dict>
	<key>39</key>
	<dict>
		<key>title</key>
		<string>Route Point</string>
		<key>icon</key>
		<string>trace</string>
	</dict>
	<key>4</key>
	<dict>
		<key>title</key>
		<string>Internal Zone (Microwave)</string>
		<key>icon</key>
		<string>int-zone-microwave</string>
	</dict>
	<key>40</key>
	<dict>
		<key>title</key>
		<string>LAN Command</string>
	</dict>
	<key>41</key>
	<dict>
		<key>title</key>
		<string>Connection by Timer</string>
		<key>icon</key>
		<string>connect-time</string>
	</dict>
	<key>42</key>
	<dict>
		<key>title</key>
		<string>Request by Call</string>
		<key>icon</key>
		<string>user-call</string>
	</dict>
	<key>43</key>
	<dict>
		<key>title</key>
		<string>Robber On</string>
		<key>icon</key>
		<string>rogue</string>
	</dict>
	<key>44</key>
	<dict>
		<key>title</key>
		<string>Robber Off</string>
	</dict>
	<key>45</key>
	<dict>
		<key>title</key>
		<string>Engine Started (AZD)</string>
		<key>icon</key>
		<string>motor-start-distance</string>
	</dict>
	<key>46</key>
	<dict>
		<key>title</key>
		<string>Engine Started (DZD)</string>
		<key>icon</key>
		<string>motor-start-timer</string>
	</dict>
	<key>47</key>
	<dict>
		<key>title</key>
		<string>Engine Stoped</string>
		<key>icon</key>
		<string>motor-off</string>
	</dict>
	<key>48</key>
	<dict>
		<key>title</key>
		<string>Engine Starting Fail</string>
		<key>icon</key>
		<string>motor-start-error</string>
	</dict>
	<key>49</key>
	<dict>
		<key>title</key>
		<string>Alarm (Trunk)</string>
		<key>icon</key>
		<string>boot</string>
	</dict>
	<key>5</key>
	<dict>
		<key>title</key>
		<string>Trunk Opened</string>
		<key>icon</key>
		<string>boot-open</string>
	</dict>
	<key>50</key>
	<dict>
		<key>title</key>
		<string>Alarm (Hood)</string>
		<key>icon</key>
		<string>hood</string>
	</dict>
	<key>51</key>
	<dict>
		<key>title</key>
		<string>Alarm (Door)</string>
		<key>icon</key>
		<string>door</string>
	</dict>
	<key>52</key>
	<dict>
		<key>title</key>
		<string>Alarm (Ignition)</string>
		<key>icon</key>
		<string>ignition-lock</string>
	</dict>
	<key>53</key>
	<dict>
		<key>title</key>
		<string>Alarm (Accessory)</string>
		<key>icon</key>
		<string>accessories</string>
	</dict>
	<key>54</key>
	<dict>
		<key>title</key>
		<string>Alarm (Input 1)</string>
		<key>icon</key>
		<string>input-1</string>
	</dict>
	<key>55</key>
	<dict>
		<key>title</key>
		<string>Alarm (Input 2)</string>
		<key>icon</key>
		<string>input-2</string>
	</dict>
	<key>56</key>
	<dict>
		<key>title</key>
		<string>Alarm (Input 3)</string>
		<key>icon</key>
		<string>input-3</string>
	</dict>
	<key>57</key>
	<dict>
		<key>title</key>
		<string>Alarm (Input 4)</string>
		<key>icon</key>
		<string>input-4</string>
	</dict>
	<key>58</key>
	<dict>
		<key>title</key>
		<string>User request by SMS</string>
		<key>icon</key>
		<string>user-sms</string>
	</dict>
	<key>59</key>
	<dict>
		<key>title</key>
		<string>Reset (Modem)</string>
		<key>icon</key>
		<string>reset-modem</string>
	</dict>
	<key>6</key>
	<dict>
		<key>title</key>
		<string>Hood Opened</string>
		<key>icon</key>
		<string>hood-open</string>
	</dict>
	<key>60</key>
	<dict>
		<key>title</key>
		<string>GPRS Online</string>
		<key>icon</key>
		<string>gprs-on</string>
	</dict>
	<key>61</key>
	<dict>
		<key>title</key>
		<string>GPRS Offline</string>
		<key>icon</key>
		<string>gprs-off</string>
	</dict>
	<key>62</key>
	<dict>
		<key>title</key>
		<string>GPRS New value</string>
	</dict>
	<key>63</key>
	<dict>
		<key>title</key>
		<string>Buffer 1/2</string>
	</dict>
	<key>64</key>
	<dict>
		<key>title</key>
		<string>Buffer 3/4</string>
	</dict>
	<key>65</key>
	<dict>
		<key>title</key>
		<string>Restart</string>
	</dict>
	<key>66</key>
	<dict>
		<key>title</key>
		<string>Error registing GSM</string>
	</dict>
	<key>67</key>
	<dict>
		<key>title</key>
		<string>Error registering GPRS</string>
	</dict>
	<key>68</key>
	<dict>
		<key>title</key>
		<string>No Answer From Modem</string>
	</dict>
	<key>69</key>
	<dict>
		<key>title</key>
		<string>Modem Init</string>
	</dict>
	<key>7</key>
	<dict>
		<key>title</key>
		<string>Door Opened</string>
		<key>icon</key>
		<string>door-open</string>
	</dict>
	<key>70</key>
	<dict>
		<key>title</key>
		<string>Restart (Site)</string>
	</dict>
	<key>71</key>
	<dict>
		<key>title</key>
		<string>Error sending SMS</string>
	</dict>
	<key>72</key>
	<dict>
		<key>title</key>
		<string>Error opening TCP connection</string>
		<key>icon</key>
		<string>system</string>
	</dict>
	<key>73</key>
	<dict>
		<key>title</key>
		<string>Hang Process</string>
	</dict>
	<key>74</key>
	<dict>
		<key>title</key>
		<string>Read Memory Error</string>
	</dict>
	<key>75</key>
	<dict>
		<key>title</key>
		<string>Data Transfer Failed</string>
	</dict>
	<key>76</key>
	<dict>
		<key>title</key>
		<string>Restart (Site+ErrorOpenTcp)</string>
	</dict>
	<key>77</key>
	<dict>
		<key>title</key>
		<string>Fbolid</string>
	</dict>
	<key>78</key>
	<dict>
		<key>title</key>
		<string>Restart (Site+ErrorOpenCSD)</string>
	</dict>
	<key>79</key>
	<dict>
		<key>title</key>
		<string>Restart (Site+ErrorMore)</string>
	</dict>
	<key>8</key>
	<dict>
		<key>title</key>
		<string>Alarm (Tilt)</string>
		<key>icon</key>
		<string>tilt</string>
	</dict>
	<key>80</key>
	<dict>
		<key>title</key>
		<string>Restart (RestartSite+ErrorUnfort)</string>
	</dict>
	<key>84</key>
	<dict>
		<key>title</key>
		<string>Contact ID</string>
		<key>icon</key>
		<string>contactid</string>
	</dict>
	<key>85</key>
	<dict>
		<key>title</key>
		<string>SOS!</string>
		<key>icon</key>
		<string>sos</string>
	</dict>
	<key>86</key>
	<dict>
		<key>title</key>
		<string>Zone In</string>
		<key>icon</key>
		<string>zonain</string>
	</dict>
	<key>87</key>
	<dict>
		<key>title</key>
		<string>Zone Out</string>
		<key>icon</key>
		<string>zonaout</string>
	</dict>
	<key>88</key>
	<dict>
		<key>title</key>
		<string>Incoming SMS</string>
		<key>icon</key>
		<string>incomingSms</string>
	</dict>
	<key>89</key>
	<dict>
		<key>title</key>
		<string>Photo Request</string>
		<key>icon</key>
		<string>request-foto</string>
	</dict>
	<key>9</key>
	<dict>
		<key>title</key>
		<string>Ignition On</string>
		<key>icon</key>
		<string>ignition-on</string>
	</dict>
	<key>90</key>
	<dict>
		<key>title</key>
		<string>Movement Start (Moution sensor)</string>
		<key>icon</key>
		<string>movement-start</string>
	</dict>
	<key>91</key>
	<dict>
		<key>title</key>
		<string>Route End (Moution sensor)</string>
		<key>icon</key>
		<string>trace-stop</string>
	</dict>
	<key>92</key>
	<dict>
		<key>title</key>
		<string>Crossing Board Line</string>
	</dict>
	<key>93</key>
	<dict>
		<key>title</key>
		<string>Undefined (93)</string>
	</dict>
	<key>94</key>
	<dict>
		<key>title</key>
		<string>Temperature Change</string>
		<key>icon</key>
		<string>changeTemperature</string>
	</dict>
	<key>95</key>
	<dict>
		<key>title</key>
		<string>Undefined (95)</string>
	</dict>
	<key>96</key>
	<dict>
		<key>title</key>
		<string>Rouming On</string>
	</dict>
	<key>97</key>
	<dict>
		<key>title</key>
		<string>Rouming Out</string>
	</dict>
	<key>98</key>
	<dict>
		<key>title</key>
		<string>Data Transfer</string>
	</dict>
	<key>99</key>
	<dict>
		<key>title</key>
		<string>Undefined (99)</string>
	</dict>
</dict>
</plist>
